@inject StateContainer _stateContainer
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RapidTime</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Byer">
                <span class="oi oi-home" aria-hidden="true"></span> Byer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Lande">
                <span class="oi oi-globe" aria-hidden="true"></span> Lande
            </NavLink>
        </li>
        <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Kontakter">
                        <span class="oi oi-globe" aria-hidden="true"></span> Kontakter
                    </NavLink>
                </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/LogIn" @onclick="LogOut">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log ud
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void LogOut()
    {
        _stateContainer.Id = "";
    }
}