@page "/Firmatyper"
@inject CompanyTypeGrpcClient _companyTypeGrpcClient

<CreateCompanyTypeComponent ExternalMethod="@UpdateThis"/>

<ListItemsComponent Items="_companyTypes">
    <TableHeader>
        <th>Id</th><th>Firma Type</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Id</td><td>@context.CompanyTypeName</td>
    </RowTemplate>
</ListItemsComponent>

@code {

    private List<CompanyTypeResponse> _companyTypes;

    protected override async void OnInitialized()
    {
        _companyTypes = await _companyTypeGrpcClient.GetAllCompanyTypes();
        await base.OnInitializedAsync();
    }


    private async void UpdateThis()
    {
        _companyTypes = await _companyTypeGrpcClient.GetAllCompanyTypes();
        StateHasChanged();
    }
}