@using RapidTime.Frontend.ProtoClients
@inject ContactGrpcClient _contactGrpcClient

<h3>Tilføj kontakt</h3>

<EditForm Model="_model" OnValidSubmit="CreateContact">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <div class="col-md-auto">
            <label for="FirstName">Fornavn</label>
            <InputText id="FirstName" @bind-Value="_model.FirstName"></InputText>
        </div>
        <div class="col-md-auto">
            <label for="LastName">Efternavn</label>
            <InputText id="LastName" @bind-Value="_model.LastName"></InputText>
        </div>
        <div class="col-md-auto">
            <label for="TelephoneNumber">Telefonnummer</label>
            <InputText id="TelephoneNumber" @bind-Value="_model.Telephonenumber"></InputText>
        </div>
        <div class="col-md-auto">
            <label for="Email">Email</label>
            <InputText id="Email" @bind-Value="_model.Email"></InputText>
        </div>
        <br>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-success">Gem</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public Action ExternalMethod { get; set; }

    private List<ContactResponse> _contacts;
    private CreateContactResource _model;

    protected override async void OnInitialized()
    {
        _model = new CreateContactResource();
        _contacts = _contactGrpcClient.GetAllContacts();
    }

    private void CreateContact()
    {
        _contactGrpcClient.CreateContact(_model);
        _model.FirstName = "";
        _model.LastName = "";
        _model.Email = "";
        _model.Telephonenumber = "";
        ExternalMethod?.Invoke();
        StateHasChanged();
    }
}