@page "/Kunder"
@inject CustomerGrpcClient _customerGrpcClient

<CreateCustomerComponent/>

<h3>Kundeoversigt</h3>
@* <ListItemsComponent Items="@_customers"> *@
@*     <TableHeader> *@
@*         <th>@</th> *@
@*     </TableHeader> *@
@*     <RowTemplate> *@
@*         <td></td> *@
@*         <td><button type="button" class="btn btn-info" @onclick="@(() => MethodName(@context.Id))"></button></td> *@
@*     </RowTemplate> *@
@* </ListItemsComponent> *@

@code {
    private List<CustomerBase> _customers;

    protected override void OnInitialized()
    {
        // _customers = _customerGrpcClient.GetAllCustomers();
        base.OnInitialized();
    }

    private void UpdateThis()
        {
            // _customers = _customerGrpcClient.GetAllCustomers();
            StateHasChanged();
        }
}
