@page "/Kunder/{CustomerId:int}"
@using System.Globalization
@inject AssignmentGrpcClient _assignmentGrpcService

<CreateAssignmentComponent CustomerId="CustomerId" />

<br />

<ListItemsComponent Items="Items">
    <TableHeader>
        <th>Opgave</th>
        <th>Dato</th>
        <th>Tid brugt</th>
        <th>Foreløbigt overslag</th>
    </TableHeader>
    
    <RowTemplate>
        <td>@context.AssignmentType</td>
        <td>@context.Date.ToDateTime().Date.ToString("d", CultureInfo.CurrentCulture)</td>
        <td>@context.TimeSpent</td>
        <td>@context.Amount</td>
    </RowTemplate>
</ListItemsComponent>



@code {
    [Parameter]
    public int CustomerId { get; set; }

    private List<AssignmentResponse> Items;
    
    protected override void OnInitialized()
    {
        Items = _assignmentGrpcService.GetAssignmentsByCustomerId(CustomerId);
        base.OnInitialized();
    }


}